%p#notice= notice

%p
  %b Name:
  = @art.name
%p
  %b Url:
  = @art.url
%p
  %b Description:
  = @art.description
%p
  %b Order:
  = @art.order

= link_to 'Edit', edit_art_path(@art)
\|
= link_to 'Back', arts_path
